:root {
    --button-size-large: 3.6rem;
    --button-icon-size-large: 2.4rem;
    --black: #111111;
    --blue: rgba(15, 16, 83, 0.9);
    --trans-black: rgba(17, 17, 17, 0.4);
    --trans-blue: rgba(15, 16, 83, 0.7);
}

* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--trans-blue), var(--black));
}

.frame {
    height: 100%;
    max-width: 90vw;
    aspect-ratio: 1545 / 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow {
    padding: 10px;
    max-height: 90vh;
    height: 100%;
    width: 100%;
    aspect-ratio: 1545 / 2000;
    display: flex;
    flex-direction: column;
}

.slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    aspect-ratio: 1545 / 2000;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 100ms opacity ease-in-out;
    transition-delay: 100ms;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img {
    height: 100%;
    width: 100%;
}

/* Slide buttons */
.carousel-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size-large);
    height: var(--button-size-large);
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.carousel-button:hover {
    background-color: rgba(124, 124, 145, 0.4);
    transition: transform 100ms, background-color 100ms;
}

.carousel-button > svg {
    height: var(--button-icon-size-large);
    width: var(--button-icon-size-large);
    fill: rgb(172, 166, 166);
}

/* Navigation Buttons */
.navigation {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.circle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: azure;
    background-color: rgba(124, 124, 145, 0.4);
    border-radius: 50%;
    transition: transform 100ms, background-color 100ms;
    transform: scale(0.75);
}
div[data-active] {
    background-color: rgb(172, 166, 166);
    cursor: default;
    transform: scale(1);
}
